<ul id="user-option" class="dropdown-content">
  <li><a href="#!">My Profile</a></li>
  <li class="divider"></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

<nav>
  <div class="navbar-fixed">
    <ul class="left hide-on-med-and-down">
      <li id="dashboard">
        <a href="/dashboard">Product Management</a>
      </li>
      <li id="customer-management">
        <a href="/customer-management">Customer Management <span class="new badge chat-noti">0</span></a>
      </li>
      <li>
        <a href="#">About us</a>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <div class="chip">
        <img src="/images/yuna.jpg" alt="profile-ico">
        <%= name %>
      </div>
      <!-- Dropdown Trigger -->
      <li>
        <a id="user-dropdown" class="dropdown-trigger" href="#!" data-target="user-option">Welcome back, <b>
            <%= username %></b> !
        </a>
      </li>
    </ul>
  </div>
</nav>