<div id="products-div" class="col s12 m12 l6">
    <div class="row">
        <div class="col s12">
            <ul class="tabs" id="productTab">
                <li class="tab col s4"><a href="#addProduct">Add product</a></li>
                <li class="tab col s4"><a href="#uploadImage">Upload Images</a></li>
                <li class="tab col s4"><a href="#chooseImage" onclick="return getProducImages();">Choose product
                        HomePage image</a></li>
            </ul>
        </div>

        <!-- Add Product Tab -->
        <% include _add-product-tab %>
        <!-- End of Add Product Tab -->

        <!-- Upload Image(s) tab -->
        <% include _upload-image-tab %>
        <!-- End of Upload Image(s) tab -->

        <!-- Choose homepage image tab -->
        <% include _choose-homepage-image-tab %>
        <!-- End of Choose homepage image tab -->

    </div>
    <input type="hidden" name="productId" id="hfProductId" />
</div>