<div id="addProduct" class="col s12">
    <div class="card-panel">
        <h4 class="header2" style="text-align: center">Add new product</h4>
        <div class="row">
            <form class="col s12" id="addProductForm">
                <!-- Name -->
                <div class="row">
                    <div class="input-field col s11">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input id="productName" type="text" autofocus onfocus="return displayTooltipForName();" onblur="return dismissTooltipForName();" />
                        <label for="productName" class="">Name</label>
                    </div>
                    <div class="input-field col s1">
                        <i id="nameTooltip" class="material-icons prefix tooltipped" data-position="bottom"
                            data-tooltip="Name of product">help_outline</i>
                    </div>
                </div>
                <!-- end of name -->
                <!-- price -->
                <div class="row">
                    <div class="input-field col s11">
                        <i class="material-icons prefix">monetization_on</i>
                        <input id="price" class="validate valid" onfocus="return displayTooltipForPrice();" onblur="return dismissTooltipForPrice();" />
                        <label for="price" class="active">Price</label>
                    </div>
                    <div class="input-field col s1">
                        <i id="priceTooltip" class="material-icons prefix tooltipped" data-position="bottom"
                            data-tooltip="Price of product">help_outline</i>
                    </div>
                </div>
                <!-- end of price -->
                <!-- Description -->
                <div class="row">
                    <div class="input-field col s11">
                        <i class="material-icons prefix">description</i>
                        <input id="description" type="text" onfocus="return displayTooltipForDescription();" onblur="return dismissTooltipForDescription();" />
                        <label for="description" class="active">Description</label>
                    </div>
                    <div class="input-field col s1">
                        <i id="descriptionTooltip" class="material-icons prefix tooltipped" data-position="bottom"
                            data-tooltip="Description for product">help_outline</i>
                    </div>
                </div>
                <!-- end of description -->
                <!-- Alternative Name -->
                <div class="row">
                    <div class="input-field col s11">
                        <i class="material-icons prefix">description</i>
                        <input id="altname" type="text" onfocus="return displayTooltipForAlternativeName();" onblur="return dismissTooltipForAlternativeName();" />
                        <label for="altname" class="active">Alternative Name</label>
                    </div>
                    <div class="input-field col s1">
                        <i id="altnameTooltip" class="material-icons prefix tooltipped" data-position="bottom"
                            data-tooltip="Alternative Name for product">help_outline</i>
                    </div>
                </div>
                <!-- end of Alternative Name -->
            </form>
            <div class="row" style="text-align: center">
                <div class="input-field col s12">
                    <input id="btnAdd" type="submit" name="submit" value="submit" onclick="return addProduct();" class="btn btn-danger submitBtn" />
                </div>
            </div>
        </div>
    </div>
</div>