<div id="allproduct" class="col s12">
    <div id="product-grid"></div>

    <a class="waves-effect waves-light btn" onclick="return reloadGrid()"><i class="material-icons">autorenew</i></a>
</div>

<script src="javascripts/product-grid.js"></script>