<div id="app-config" class="col s12 m12 l6">
    <div class="row">
        <div class="col s12">
            <ul class="tabs" id="configTab">
                <li class="tab col s6"><a href="#development-mode">Development Mode</a></li>
                <li class="tab col s6"><a href="#caching">Caching Setting</a></li>
            </ul>
        </div>
        <!-- Development mode tab -->
        <div id="development-mode" class="col s12">
            <div class="card-panel">
                <h4 class="header2" style="text-align: center">Development mode</h4>
                <div class="switch" style="text-align: center">
                    <p>Turn on / off development mode</p>
                    <label>
                        Off
                        <input type="checkbox" id="cbDevelopment" onclick="return developmentModeControl()">
                        <span class="lever"></span>
                        On
                    </label>
                    <p id="development-status" style="color: red"></p>
                    <a class="waves-effect waves-teal btn-flat" onclick="getCurrentDevelopmentMode()""><i class="
                        material-icons">autorenew</i></a>
                </div>
            </div>
        </div>
        <!-- Development mode tab -->

        <!-- Caching setting tab -->
        <div id="caching" class="col s12">
            <div class="card-panel">
                <h4 class="header2" style="text-align: center">Caching Setting</h4>
                <div style="text-align: center">
                    <button class="btn" id="btnClearCache" onclick="return purgeCache();">Purge All Cache</button>.
                    <p id="lblCaching"></p>
                </div>
            </div>
        </div>
        <!-- End Caching setting tab -->
    </div>
</div>