<div id="chooseImage" class="col s12">
    <div class="card-panel">
        <h4 class="header2" style="text-align: center">Choose Product Homepage Image</h4>
        <div class="row">
            <form action="#" id="productDefaultImage">
            </form>
            <div class="row" style="text-align: center">
                <button id="btnSetDefault" class="btn" type="submit" value="Submit" onclick="return setDefaultImage();">
                    Set default image !</button>
            </div>
        </div>
    </div>
</div>