<div id="uploadImage" class="col s12">
    <div class="card-panel">
        <h4 class="header2" style="text-align: center">Upload product image</h4>
        <div class="row">

            <form class="col s12" id="uploadImgForm" method="post" enctype="multipart/form-data">
                <div class="row file-field input-field">
                    <div class="col s10 file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files" />
                    </div>
                    <div class="col s2 btn">
                        <span>Choose Images</span>
                        <input id="txtImgUpload" type="file" name="imgUpload" accept="image/*" multiple />
                    </div>
                </div>
            </form>

            <div class="col s12" style="text-align: center">
                <button id="btnUploadImg" value="Submit" class="btn" onclick="return uploadImages();">Upload</button>
            </div>
            <div style="text-align:center;display:none" id="upload-loading">
                <img src="/images/loading.gif" alt="loading..." />
            </div>
        </div>
    </div>
</div>