<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/_header %>

  <script src="/javascripts/scripts/dashboard.js"></script>
</head>

<body>

  <!-- navbar section -->
  <% include ../../partials/_navbar%>
  <!-- End of navbar section -->
  <div class="content">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#allproduct">All Products</a></li>
        <li class="tab col s3"><a href="#products-div">Add product</a></li>
        <li class="tab col s3"><a href="#app-config" onclick="return getCurrentDevelopmentMode()">Application Config</a>
        </li>
      </ul>
    </div>
    <!-- product section -->
    <% include _add-products %>
    <!-- end of product section -->

    <!-- All products -->
    <% include _all_products %>
    <!-- End of all products -->

    <!-- Application config -->
    <% include _app-config %>
    <!-- Application config -->

  </div>

</body>

</html>