#loginform {
    padding-top: 60px
}

h1#loginform {
    text-align: center;
    font-size: 30px;
}

a#registerlink {
    margin-left: 15px
}

#place_order {
    text-align: center
}

#products-div {
    width: 50%;
    margin: auto;
    padding-top: 30px
}

#app-config {
    width: 50%;
    margin: auto;
    padding-top: 30px
}

#btnBookingSubmit {
    margin-right: 65px;
    margin-top: 20px
}