<div id="chat" class="col s12">

    <!-- container element in which TalkJS will display a chat UI -->
    <div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px"><i>Loading chat...</i></div>

    <!-- TalkJS initialization code -->
    <script src="/javascripts/chat.js"></script>

</div>