<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/_header %>

    <script src="/javascripts/scripts/customer-management.js"></script>
</head>

<body>

    <!-- navbar section -->
    <% include ../../partials/_navbar %>
    <!-- End of navbar section -->

    <div class="content">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#chat">Customer Chat <span class="new badge chat-noti">0</span></a>
                </li>
            </ul>
        </div>

        <!-- Customer Chat tab -->
        <% include _chat %>
        <!-- End of Customer Chat tab -->

    </div>

</body>

</html>