<!DOCTYPE html>
<html>

<!-- Header -->

<head>
  <% include ../../partials/_header %>
  <script src="/javascripts/scripts/index.js"></script>
</head>
<!-- End of header -->

<body>
  <div class="container">
    <h1 id="loginform">Please login to continue</h1>
    <form name="login">
      <div class="container">
        <!-- Login Form -->
        <% include _loginForm %>
        <!-- End of Login Form -->
      </div>
    </form>
  </div>
</body>

</html>